/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* General */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.paragraph--general {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

.header--main {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 1px 0 black;
    color: #757575;
    text-transform: uppercase;
}

.header--medium {
    padding: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0 1px 0 black;
    color: #757575;
}

.header--small {
    font-size: 2rem;
    letter-spacing: 3px;
    padding-bottom: 1rem;
    text-shadow: 0 1px 0 black;
}

.header--smaller {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 3px;
}

.header--smallest {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    padding: 0.4rem 0;
}

/* END General */
body {
    font-family: 'Karla', sans-serif;
}

.showcast {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Featured Products */
.featuredItems {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.featuredItems__header--medium {
    width: 100%;
}

.item {
    padding: 0 2.5rem 2.5rem 2.5rem;
    position: relative;
}

.item__img {
    max-width: 20rem;
    height: auto;

}

.item__discount {
    position: absolute;
    max-width: 6rem;
    height: auto;
    top: 0%;
}

.item__details {
    position: relative;
}

.item__details__starRate {
    max-width: 6.5rem;
    position: absolute;
    right: 0%;
    top: 50%;
}

.item__details__hearthRate {
    max-width: 1rem;
    position: absolute;
    right: 0%;
    top: 0%;
}

/* END Featured Products */

/* New Arrivals*/
.newArrivals {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;
    color: #595959;
    background-image: url(img/new_arrivals1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.newArrivals__description {
    margin-left: 5rem;
}

.shopNowButton {
    padding: 1.5rem;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #FF00FF;
    background: transparent;
    text-shadow: 0 1px 0 black;
    letter-spacing: 1.7px;
    border: 1.5px solid #595959;
    cursor: pointer;
}

/* END New Arrivals*/

/* Categories */
.categories__photos {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category__item {
    min-width: 40rem;
    min-height: 20rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-transform: uppercase;
}
.category__item1 {
    background-image: url(img/category1.jpg);
}.category__item2 {
    background-image: url(img/category2.jpg);
}.category__item3 {
    background-image: url(img/category3.jpg);
}.category__item4 {
    background-image: url(img/category.jpg);
}

.category__item__hoverText {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    letter-spacing: 0.5rem;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transition: opacity .4s, visibility .2s;
}

.category__item:hover .category__item__hoverText {
    visibility: visible;
    opacity: 1;
}

/* END Categories */

/* New, best, Top */

.rankingContainer {
    justify-content: center;
    align-items: center;
}

.top {
    padding: 2rem;
    margin: 1.5rem;
    flex-direction: column;
    border: 1px solid #808080;
}

.top__item {
    justify-content: center;
    align-items: center;
    padding-right: 6rem;
}

.top__item__details {
    padding-right: 0.7rem;
}

.top__item__img {
    padding: 0.7rem;
    align-self: center;
    max-width: 4rem;
    height: auto;
    border-radius: 50%;
}

/* END New, best, Top */

/* Footer */
.footer {
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: #808080;
    letter-spacing: 2px;
    line-height: 1.7rem;
    padding: 1.5rem;
    font-size: 0.9rem;
}

.footer__info {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.footer__info__item {
    padding: 1.2rem;
    list-style: none;
    flex-grow: 1;
}

.footer__title {
    color: #cccccc;
    text-transform: uppercase;
    font-weight: 700;
    border-width: 5px;
}

.owner {
    align-self: center;
}

.owner__name {
    font-size: 2rem;
    font-weight: 700;
    color: #cccccc;
    padding-bottom: 0.5rem;
}

/* END Footer */

/* Gallery Panel */
.panel1 {
    background-image: url(img/gallery-panel-3.jpg);
}

.panel2 {
    background-image: url(img/gallery-panel-2.jpg);
}

.panel3 {
    background-image: url(img/gallery-panel-4.jpg);
}

.panel4 {
    background-image: url(img/gallery-panel-1.jpg);
}


.gallery {
    max-width: 100%;
    min-height: 80vh;
    margin: 4rem 0;
    display: flex;
}

.gallery__singlePanel:hover {
    cursor: pointer;
}

.gallery__singlePanel {
    flex: 1;
    background-position: center;
    background-size: cover;
    transition: background .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 20%;
}

.singlePanel__header--closed {
    font-size: 5rem;
    font-weight: 700;
    padding: 1rem;
    letter-spacing: 0.5rem;
    color: #fff;
}

.singlePanel__header--open {
    font-size: 2.5rem;
}

.singlePanel--open {
    flex: 5;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

/* END Gallery Panel */

/* Media */
@media screen and (max-width: 900px) {
    .gallery {
        display: none;
    }
    .category__item {
        max-width: 30rem;
    }
    .newArrivals__description {
    margin-left: 1rem;
}
}

/* END Media */
